* {
  font-family: Calibri, sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 80%;
  margin: 0 auto;
  background: #919294;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}
a {
  text-decoration: none;
}
.logo {
  margin-right: auto;
}
.logo img {
  width: 150px;
}
ul {
  list-style: none;
}
.links-div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
.menu-list li a {
  color: hsl(0, 0%, 86%);
  font-weight: 600;
}
.menu-list li a:hover {
  color: rgb(0, 135, 167, 1);
}
.btn {
  padding: 10px 20px;
  background-color: rgb(0, 135, 167);
  border-radius: 50px;
  border: none;
}
.btn a {
  color: hsl(0, 0%, 86%);
}
.btn a:hover {
  color: hsl(0, 0%, 100%);
}
